.header-background {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    line-height: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .header-img {
    background-image: linear-gradient(
        90deg,
        #ffffff 10.6%,
        rgba(255, 255, 255, 0.94) 11.11%,
        rgba(255, 255, 255, 0.9) 20%,
        rgba(255, 255, 255, 0) 45%
      ),
      url(/public/img/margherita-pizza\ 2.png);
    mix-blend-mode: normal;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 549px;
    width: 100%;
  }