body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body h1,
h2,
h3,
h4,
h5,
h6,
i {
  color: #00240f;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: #00240f;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-link ul {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-link li {
  font-weight: 600;
}

.nav-link a {
  font-size: 20px;
}

.active {
  color: #ec0000;
}

.btn-sign-in {
  background-color: #ec0000;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  padding: 10px 24px 11px;
}

.btn-order-now {
  background-color: #ec0000;
  box-shadow: -10px 20px 40px rgba(236, 0, 0, 0.16);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px 24px 11px;
  margin-top: 20px;
}

.btn-add-cart {
  background-color: #ec0000;
  color: #fff;
  width: 243px;
  height: 40px;
  border: none;
  border-radius: 25px;
  padding: 10px 24px 11px;
}

.btn-sign-in:hover,
.btn-order-now:hover,
.btn-add-cart:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-cart {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #00240f;
  cursor: pointer;
  position: relative;
}

.btn-cart:hover {
  background-color: #05a84b;
}

.btn-cart svg {
  width: 23px;
  height: 23px;
  vertical-align: middle;
  transform: translate(-1px);
}

.btn-cart svg path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 10;
}

.badge-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #00240f;
  background-color: #05a84b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  transform: translate(30%, 30%);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  gap: 21px;
  background: #fffdfd;
  border: 1px solid #bdbdbd;
  box-shadow: -10px 20px 40px -1px rgba(0, 0, 0, 0.2);
  border-radius: 180px 180px 30px 30px;
  width: 290px;
  height: 529px;
  text-align: center;
}

.card-img {
  width: auto;
  height: auto;
  border-radius: 50%;

  filter: drop-shadow(-10px 20px 40px rgba(0, 0, 0, 0.16));
}

.card-body p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  height: 36px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.pizza-size {
  width: 243px;
  height: 40px;
  padding: 9px 16px;
  background: #ffffff;
  border: 1px solid #4f4f4f;
  border-radius: 25px;
  font-size: 16px;
}

/* media */
@media(max-width: 1400px){
  .header {
    padding: 0 10px;
  }
}
@media(max-width: 650px) {
  header .brand h1 {
    display: none;
  }
  .nav-link ul {
    gap: 16px;
  }
}